.banner{
    background-color: #c22549;
    width: 100%;
    height:180px;
    margin-bottom:50px
}
.banner-text{
    top:10%;
    left:45%;
    position:absolute;
    transform:transform;
    color:white;
}
.form-group{
    margin-bottom:10px;
}