{% extends 'movie.html' %}
{% load static %}
{% block metadescription %}
    {{ movie.desc|truncatewords:155 }}
{% endblock %}
{% block title %}
    {% if category %}
        {{ movie.name }} - MOVIE WEBSITE
    {% endif %}
{% endblock %}
{% block content %}

<div class="container add_movie" style="color:white;">
    <h1 class="text-center" style="color:white;">Add Your Review</h1>
        <h6 style="color:white;">* Rating must be between 1 and 5</h6>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}<button type="submit" class="btn btn-light">Add Reviews</button>
    </form>
</div><br><br><br><br><br>
{% endblock %}
